# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# database
/data/*
/backup/*
/file/*

# secrets
/server/secrets/secrets.json
/server/secrets/files/*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/public/raw/word2vec/embeddings.txt
/public/raw/word2vec/small.txt
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# keep .gitkeep dirs
!.gitkeep