<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wwl Watch App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64_32</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1469DECFAC93DE086157016D63572C1C8CC2AB1E</string>
				<key>dateExpires</key>
				<string>5/21/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3ZF9SD5372.dev.freshman.wwl.watchkitapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3ZF9SD5372</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>wwl Watch App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>93915ec6-7999-423d-a94f-4964cd2d6b11</string>
				<key>dateExpires</key>
				<string>5/21/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: dev.freshman.wwl.watchkitapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3ZF9SD5372</string>
				<key>name</key>
				<string>Cyrus Freshman</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
